<header class="border-bottom py-2 mt-4 bg-secondary text-white">
  <div class="container">
    <p class="m-0">
      © 2022 -
      <a
        href="https://www.binaracademy.com/"
        target="_blank"
        class="text-white text-decoration-none"
      >
        Binar Academy
      </a>
      - FSW Wave 20 (Fasil Wahyu Budi Saputra)
    </p>
  </div>
</header>
