<div class="d-flex justify-content-between align-items-center">
  <h3 class="m-0"><%- pageTitle %></h3>
  <a class="btn btn-primary" href="/products/create" role="button">
    <i class="bi-plus-lg"></i> Buat Baru
  </a>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Barang</th>
        <th scope="col">Harga</th>
        <th scope="col">Stok</th>
        <th scope="col">Supplier</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="w-75">Masker Medis</td>
        <td>10000</td>
        <td>5</td>
        <td class="w-25">PT. Mitra Utama</td>
        <td class="text-nowrap">
          <a class="btn btn-success btn-sm" href="/products/1" role="button">
            <i class="bi-eye-fill"></i> Lihat Detail
          </a>

          <a class="btn btn-primary btn-sm" href="/products/1/edit" role="button">
            <i class="bi-pencil-fill"></i> Edit
          </a>

          <a class="btn btn-danger btn-sm" href="/products/1" role="button">
            <i class="bi-trash-fill"></i> Hapus
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td class="w-75">Laptop Macbook</td>
        <td>20000000</td>
        <td>1</td>
        <td class="w-25">PT. Mitra Utama</td>
        <td class="text-nowrap">
          <a class="btn btn-success btn-sm" href="/products/1" role="button">
            <i class="bi-eye-fill"></i> Lihat Detail
          </a>

          <a class="btn btn-primary btn-sm" href="/products/1/edit" role="button">
            <i class="bi-pencil-fill"></i> Edit
          </a>

          <a class="btn btn-danger btn-sm" href="/products/1" role="button">
            <i class="bi-trash-fill"></i> Hapus
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td class="w-75">Voucher Google Play</td>
        <td>20000</td>
        <td>30</td>
        <td class="w-25">PT. Mitra Utama</td>
        <td class="text-nowrap">
          <a class="btn btn-success btn-sm" href="/products/1" role="button">
            <i class="bi-eye-fill"></i> Lihat Detail
          </a>

          <a class="btn btn-primary btn-sm" href="/products/1/edit" role="button">
            <i class="bi-pencil-fill"></i> Edit
          </a>

          <a class="btn btn-danger btn-sm" href="/products/1" role="button">
            <i class="bi-trash-fill"></i> Hapus
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>