<button onclick="history.back()" class="btn btn-light">
  <i class="bi-arrow-left"></i>
  Kembali
</button>

<h3 class="my-3"><%= pageTitle %></h3>

<div class="table-responsive mt-3">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Harga</th>
        <td>20000</td>
      </tr>
      <tr>
        <th scope="row">Stok</th>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">Supplier</th>
        <td>PT. Mitra Utama</td>
      </tr>
      <tr>
        <th scope="row">Data Dibuat</th>
        <td>2019/01/22</td>
      </tr>
      <tr>
        <th scope="row">Data Diperbarui</th>
        <td>2019/01/23</td>
      </tr>
    </tbody>
  </table>
</div>