<div class="d-flex justify-content-between align-items-center">
  <h3 class="m-0">Supplier</h3>
  <a class="btn btn-primary" href="/suppliers/create" role="button">
    <i class="bi-plus-lg"></i> Buat Baru
  </a>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Supplier</th>
        <th scope="col">No Telp</th>
        <th scope="col">Email</th>
        <th scope="col">Alamat</th>
        <th scope="col">Tanggal bergabung</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>PT. Mitra Utama</td>
        <td>19/01/2021</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>PT. Mitra Utama</td>
        <td>19/01/2021</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>PT. Mitra Utama</td>
        <td>19/01/2021</td>
      </tr>
    </tbody>
  </table>
</div>