<button type="button" onclick="history.back()" class="btn btn-light">
  <i class="bi-arrow-left"></i>
  Kembali
</button>

<h3 class="my-3"><%= pageTitle %></h3>

<div class="table-responsive mt-3">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">No. Telp</th>
        <td>081234567890</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>info@mitrautama.com</td>
      </tr>
      <tr>
        <th scope="row">Alamat</th>
        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor delectus placeat nesciunt quibusdam. Suscipit quod totam fuga quibusdam! Suscipit ea, nihil pariatur quae possimus ullam quas atque aut veritatis placeat.</td>
      </tr>
      <tr>
        <th scope="row">Tanggal Bergabung</th>
        <td>2019/01/22</td>
      </tr>
      <tr>
        <th scope="row">Data Dibuat</th>
        <td>2019/01/22</td>
      </tr>
      <tr>
        <th scope="row">Data Diperbarui</th>
        <td>2019/01/23</td>
      </tr>
    </tbody>
  </table>
</div>